menu "LampArray Configurations"

config PIXEL_MODULE_LOG_LEVEL
    int "PIXEL module log level"
    default LOG_DEFAULT_LEVEL

config HID_MODULE_LOG_LEVEL
    int "HID module log level"
    default LOG_DEFAULT_LEVEL

config MIN_UPDATE_TIME
    int "Minimum update time before Host request update"
    default 50

endmenu

source "Kconfig.zephyr"